body {
    font-family: Andale Mono, monospace;
    font-size: 18px;
    background: url("../images/Background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.dropdown-menu {
    background: rgba(35, 35, 35, 0.87);
    border: 1px solid #1f1f1f;
}
.dropdown-menu .divider {
    background: rgba(96, 96, 96, 0.87);
}
.dropdown-menu > li > a {
    color: #ababab;
}
.navbar-inverse {
    background: rgba(35, 35, 35, 0.87);
}
#logo {
    width: 119px;
    height: 44px;
    margin-right: 17px;
}
#searchIcon{
    width: 23px;
    height: 27px;
    margin-right: 9px;
}
#parametreIcon{
    width: 25px;
    height: 27px;
}
#avatarIcon{
    width: 29px;
    height: 27px;
}
#inputSearch{
    background-color: #222222;
    font-size: small;
    display: none;
}
#inputSearch:focus{
    outline: none;
    border-color: #d5d5d5;
    box-shadow: 0 0 10px #d5d5d5;
}
.utilisateurDropdownSpace{
    margin-left: 10%;
    color: #8c8c8c;
    font-size: 14px;
}
.utilisateurDropdownSpace.bottomSpace{
    margin-bottom: 7%;
}
.containerDropdown{
    width: 750px;
    height: 120px;
    display: inline-block;
}
.containerDropdown.colonne1Dropdown{
    width: 26%;
    border-right: solid 2px #abaaae;
    max-height: 16px;
}
.containerDropdown.colonneDropdown{
    width: 33%;
    max-height: 110px;
    margin-left: 2%;
}
.dropdownDescoverMenu{
    top: 100%;
    left: 0;
    float: left;
    padding: 5px 0;
    margin: 2px 4px 0;
    text-align: left;
    list-style: none;
    font-size: 12px;
}
.dropdownDescoverMenu.dropdownDescoverMenuPlusSize{
    font-size: 14px;
}
a{
    color: #8c8c8c;
}
a:hover{
    color: white;
    text-decoration: none;
}
.dropdownHeader {
    height: 15%;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background: none;
    color: #fff;

}
.navbar{
    margin-bottom: 0;
}
.carousel-control{
    width: 6%;
}
.row{
    margin-left: 2%;
    margin-right: 2%;
}
h4{
    color: #ababab;
    margin-left: 2%;
}
.col-sm-2{
    padding-left: 0;
    padding-right: 0;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    min-width: 100%;
}
.carousel{
    margin-right: 1%;
    margin-left: 1%;
}
.carousel-inner > .item > img {
    margin: 0 auto;
    max-height: 400px;
}