.image img {
    width: 300px;
    height: auto;
}

.titreP {
    font-size: 38pt;
    color: whitesmoke;
}

.description {
    text-align: justify;
    padding-top: 3%;
    font-size: 12pt;

}

.info {
    padding-right: 9%;
    color: #ababab;
}

.imgActor {
    width: 2050px;
    height: auto;
}

.informationInterne {
    display: inline-block;
    border-right: 2px solid white;
    padding-right: 20px;
}

.image {
    padding-top: 19px;
}

.titreS {
    font-size: 18pt;
    color: whitesmoke;
    padding-top: 10px;
}

.information {
    font-size: 10pt;
}

.test {
    display: block;
}
table {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3%;
}
th, td {
    text-align: left;
    background-color: #313131;
    opacity: 0.7;
    color: whitesmoke;
    font-size: 11pt;
}
.titreList{
    color: whitesmoke;
    margin-left: 5%;
}
.imageList{
    width: 51px;
    height: auto;
    margin-right: 3%;
}
.pullright {
    text-align: right;
    padding-right: 3%;
}
.bigestOpacity{
    background-color: #080808;
    opacity: 0.9;
}
.imageBullet{
    width: 6%;
    display:block;
    margin:auto;
    cursor:pointer
}

