
body {
    font-family: Andale Mono, monospace;
}

.image img {
    width:300px;
    height:auto;
}
a.images {
    float: left;
    position: relative;
}
a.images span {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/PlayIcone.png") no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
}

.titreP {
    font-size: 65pt;
    color: whitesmoke;

}

.description {
    text-align: justify;
    padding-top: 3%;
    font-size: 13pt;

}

#ratingImg {
    width: 40px;
}

.info {
    padding-right: 11%;
    color: #ababab;
}

tr td {
    border-top: none !important;
    border-right: 2px solid white;
    text-align: center;
}

.imgActor{
    width:2050px;
    height: auto;
}