
body {
    font-family: Andale Mono, monospace;
}

.image {
    padding-top: 6%;
    padding-left: 21%;
    display: block;
    max-width: 100%;
    height: auto;

}

.playbutton {
    position: relative;
    top: -300px;
    right: -50px;
    background: url(../images/PlayIcone.png) no-repeat;
    cursor: pointer;
    width: 300px;
    height: 160px;
    border: none;
}

.titreP {
    font-size: 65pt;
    color: whitesmoke;

}

.description {
    text-align: justify;
    padding-top: 3%;
    font-size: 13pt;

}

#ratingImg {
    width: 40px;
}

.info {
    padding-right: 11%;
    color: #ababab;
}

tr td {
    border-top: none !important;
    border-right: 2px solid white;
    text-align: center;
}

@media (max-width: 1024px) {
    .image {
        padding-top: 34px;
    }

    .playbutton {

        right: 10px;
    }
}

@media (max-width: 768px) {

    .playbutton {
        top: -240px;
        right: 60px;
    }

}

@media (max-width: 768px) {

    .image {
        padding-left: 0px;
    }

    .playbutton {
        top: -320px;
    }

}
