
body {
    font-family: Andale Mono, monospace;
}


.image img {
    width:100%;
    height:auto;
}

h4 {
    color: #ababab;
    margin-left: 2%;
}

a.imagePlay {
    float: left;
    position: relative;
}
a.imagePlay span {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/PlayIcone.png") no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
}

.titreP {
    font-size: 65pt;
    color: whitesmoke;
}

.description {
    text-align: justify;
    padding-top: 3%;
    font-size: 13pt;

}

#ratingImg {
    width: 40px;
}

.info {
    padding-right: 11%;
    color: #ababab;
}


.imgActor{
    width:2050px;
    height: auto;
}

.informationInterne{
    display: inline-block;
    border-right: 2px solid white;
    padding-right: 20px;
}

@media (max-width: 767px){
    .informationInterne{
        display:block;
        border:none;
    }
    .titreP{
        font-size: 50px;
    }
    #imagePresentation{
        width: 200px;
        height: auto;
    }
}

.image{
    padding-top: 19px;
}


.carousel-inner > .item > img {
    margin: 0 auto;
    max-height: 140px;
    width: 350px;
}


.carouselMultiple {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3%;
}


.marginImgCarousel {
    margin-right: 1%;
}

.carouselMultiple img{
    width: 100%;
    height: 140px;
}


.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    min-width: 100%;
}



.slick-next {
    right: -20px;
}

.slick-pre {
    left: -20px;
}