.input-group {
    margin: 3%;
    color: white;
    width: 96%;
    font-size: 10pt;
}

.shadowPurple:focus {
    box-shadow: 0 0 10px #655d88;
}


.form-control {
    background-color: #464646;
    border: none;
    color: black;
    font-size: 13pt;
}

@media (min-width: 1000px) {
    .loginForm {
        width: 400px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

@media (max-width: 1000px) {
    .loginForm {
        width: 70%;
        margin: auto auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

#loginLogo {
    width: 90%;
    margin-bottom: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.loginButtonDiv {
    width: 96%;
}

#loginButton {
    width: 100%;
    font-size: 13pt;
}

.joinUs {
    font-size: 10pt;
    margin: 2%;
    color: white;
}

.btn {
    color: white;
    background-color: #4d4668;
}

.btn-primary {
    border: none;
    font-family: Andale Mono, monospace;
}

.btn-primary:hover {
    background-color: #3c3556;
}

.linkColor:hover {
    color: #3c3556;
}