

body {
    font-family: Andale Mono, monospace;
}


.image img {
    width:420px;
    height:auto;
}

a.imagePlay {
    float: left;
    position: relative;
}
a.imagePlay span {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/PlayIcone.png") no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
}

.titreP {
    font-size: 65pt;
    color: whitesmoke;
}

.description {
    text-align: justify;
    padding-top: 3%;
    font-size: 12pt;

}

#ratingImg {
    width: 40px;
}

.info {
    padding-right: 7%;
    color: #ababab;
    padding-left: 1%;


}


.imgActor{
    width:2050px;
    height: auto;
}

.informationInterne{
    display: inline-block;
    border-right: 2px solid white;
    padding-right: 20px;
}

@media (max-width: 767px){
    .informationInterne{
        display:block;
        border:none;
    }
    .titreP{
        font-size: 50px;
    }
    #imagePresentation{
        width: 300px;
        height: auto;
    }
}

.image{
    padding-top: 19px;
}

.pochette{
    display: inline-block;
}

.pochetteFilmography{
    width:80px;
    height: 100px;
}

.nomFilmFilmography{
    display: inline-block;
    font-size: 25pt;
    color: whitesmoke;
    padding-top: 60px;
}

.dateSortiFilmography{
    display: inline-block;
    font-size:25pt;
    color: whitesmoke;
    padding-top: 60px;
}

.previewFilmography{
    display: inline-block;
    text-align: center;
    padding-top: 35px;
}

.boutonPlayFilmography{
    width:140px;
    height: 100px;
    cursor: pointer;
}

.filmography{
    padding-left: 19px;
    border-radius: 10px;
    border-top:3px solid darkorange;
    border-left:3px solid darkorange;
    border-right:3px solid darkorange;
    border-bottom: 3px solid darkorange;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    background-color: #020203
}

.titreS{
    font-size: 40pt;
    color: whitesmoke;
    padding-top: 10px;
}
.information{
    font-size: 10pt;
}


.carouselMultiple img {
    max-width: 95%;
}

.carouselMultiple {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3%;
    text-align: center;
    color: whitesmoke;

}


.marginImgCarousel {
    margin-right: 1%;
}

.carouselMultiple img{
    width:160px;
    height: 140px;
}


.TitrePage{

    color: whitesmoke;
    font-size: 130%;
}
@media (max-width: 320px){
    .slick-list{
        padding-left: 60px;
    }
}


