html{
    background: url("../images/Background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
#logo {
    width: 119px;
    height: 44px;
    margin-right: 17px;
}
#searchIcon{
    width: 23px;
    height: 27px;
    margin-right: 9px;
}
#parametreIcon{
    width: 25px;
    height: 27px;
}
#avatarIcon{
    width: 29px;
    height: 27px;
}
.inputBlack{
    background-color: #222222;
    font-size: small;
}
.inputBlack:focus{
    outline: none;
    border-color: #d5d5d5;
    box-shadow: 0 0 10px #d5d5d5;
}