html{
    background: url("Background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-color: black;
}
#logo {
    width: 119px;
    height: 100px;
    float: left;
}
#searchIcon{
    width: 30px;
    height: 27px;
    padding-top: 4px;
}
#parametreIcon{
    width: 30px;
    height: 34px;
}
#avatarIcon{
    width: 34px;
    height: 37px;
}