<div class="col-lg-3 col-md-5 col-sm-5 col-xs-12">
    <div class="image">

    </div>
</div>
<div class="col-lg-9 col-md-7 col-sm-7 col-xs-12">
    <div class="info">
        <h1 class="titreP">
            <%= actorInfo[0].results[0].artistName%>
        </h1>

        <div class="information">
            <div class="informationInterne"><%= actorInfo[0].results[0].primaryGenreName%></div>
        </div>


        <a class="pull-right" id="buttonItune"  href="<%= actorInfo[0].results[0].artistLinkUrl%>"></a>
    </div>
</div>

