<div class="col-lg-3 col-md-5 col-sm-5 col-xs-12">
    <div class="image">
        <img id="imagePresentation" src="../images/Actors/Adam.jpg"/>
    </div>
</div>
<div class="col-lg-9 col-md-7 col-sm-7 col-xs-12">
    <div class="info">
        <h1 class="titreP">
            Adam Sandler
        </h1>

        <div class="information">
            <div class="informationInterne">Comedy</div>
            <div class="informationInterne">56 years old</div>
            <div class="informationInterne">9 September 1966</div>
        </div>

        <p class="description">
            Adam Richard Sandler is an American actor, comedian, screenwriter, entrepreneur,
            film producer, and musician. After becoming a Saturday Night Live cast member, Sandler went on to star in
            many Hollywood feature films that combined have grossed over $2 billion at the box office. He is best
            known for his comedic roles.
        </p>

        <a class="pull-right" id="buttonItune" href="https://itunes.apple.com/us/artist/adam-sandler/id608018"></a>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3 class="titreList">List of movies</h3>
    <table id="listMovie" class="borderSepared">
        <tr class="bigestOpacity">
            <td><img class="imageList" src="../images/Movies/Blended.png"><a class="linkUnderline" href="pageVideo.html">Blended</a></td>
            <td class="pullright">2014-05-21</td>
        </tr>
        <tr>
            <td><img class="imageList" src="../images/Movies/GrownUps.png"><a class="linkUnderline" href="pageVideo.html">Grown Up</a></td>
            <td class="pullright">2010-11-05</td>
        </tr>
        <tr class="bigestOpacity">
            <td><img class="imageList" src="../images/Movies/JackAndJill.png"><a class="linkUnderline" href="pageVideo.html">JackAndJill</a></td>
            <td class="pullright">2011-11-09</td>
        </tr>
    </table>
    <div><img class="imageBullet" src="../images/Plusbullet.png" onclick="AddMovieRow()"></div>
    <h3 class="titreList">List of Tv shows</h3>
    <table id="listTvShow" class="borderSepared">
        <tr class="bigestOpacity">
            <td><img class="imageList" src="../images/BlankImg.png"><a class="linkUnderline" href="pageVideo.html">Tv show name</a></td>
            <td class="pullright">Date</td>
        </tr>
        <tr>
            <td><img class="imageList" src="../images/BlankImg.png"><a class="linkUnderline" href="pageVideo.html">Tv show name</a></td>
            <td class="pullright">Date</td>
        </tr>
        <tr  class="bigestOpacity">
            <td><img class="imageList" src="../images/BlankImg.png"><a class="linkUnderline" href="pageVideo.html">Tv show name</a></td>
            <td class="pullright">Date</td>
        </tr>
    </table>
    <div><img class="imageBullet" src="../images/Plusbullet.png" onclick="AddTvShowRow()"></div>

</div>
