<div id="carousel-1" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
        <li data-target="#carousel-1" data-slide-to="3"></li>
        <li data-target="#carousel-1" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" id="carouselAllTop">
        <div class="item active">
            <img src="./imgs/Movies/Agenger.jpg" alt="First Slide">
        </div>
        <div class="item">
            <img src="./imgs/Movies/BreakingBad.jpg" alt="Third Slide">
        </div>
        <div class="item">
            <img src="./imgs/Movies/Interstellar.jpg" alt="Four Slide">
        </div>
        <div class="item">
            <img src="./imgs/Tv%20Shows/Simpson.jpg" alt="Six Slide">
        </div>
        <div class="item">
            <img src="./imgs/Movies/UndertheDome.jpg" alt="Seven Slide">
        </div>
    </div>
    <a class="carousel-control left" href="#carousel-1" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#carousel-1" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>


<div id="carouselAll">
    <div>
        <h4> Popular Movies</h4>
    </div>
    <div id="owl">
        <div class="item"><img src='./imgs/Movies/Frozen.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Movies/Jurassic.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Movies/Inception.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Movies/Prisonner.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Movies/SnowWhite.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Lorax.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Movies/Startrek.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Movies/Titanic.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Movies/Wintersbone.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Movies/Alice.jpg' alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Movies/Fury.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Movies/Amélie.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Movies/FindingNemo.jpg'alt="Owl Image"/></div>
    </div>

    <div>
        <h4> Popular Tv Shows</h4>
    </div>

    <div class="owl">
        <div class="item"><img src='./imgs/Tv%20Shows/BreakingBad.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Tv%20Shows/DareDevil.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Tv%20Shows/Dexter.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Tv%20Shows/DoctorWho.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Tv%20Shows/Friends.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Tv%20Shows/GameOfTrone.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Tv%20Shows/Glee.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Tv%20Shows/Hannibal.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Tv%20Shows/Heroes.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Tv%20Shows/VampireDairy.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Tv%20Shows/DoctorWho.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Tv%20Shows/Smallville.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Tv%20Shows/WalkingDead.jpg'alt="Owl Image"/></div>
    </div>

    <div>
        <h4> Popular Actors</h4>
    </div>

    <div class="owl">
        <div class="item"><img src='./imgs/Actors/Adam.jpg'/></a></div>
        <div class="item"><img src='./imgs/Actors/Angelina.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Actors/Brad.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Actors/Bradley.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Actors/Channing.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Actors/Angelina.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Actors/Hilary.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Actors/Jack.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Actors/Jennifer.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Actors/Jessica.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Actors/John.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Actors/JenniferA.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Actors/Leonardo.jpg'alt="Owl Image"/></div>
        <div class="item"><img src='./imgs/Actors/Morgan.jpg'alt="Owl Image"/></div>
    </div>
</div>
