<div class="col-lg-4  col-md-4 col-sm-12 col-xs-12 image">
    <div class="image">
        <a href="#" class="imagePlay">
            <span onclick="player()"></span>
            <img id="imagePresentation" src="../images/Tv%20Shows/BreakingBadPoster.png"/>
        </a>
    </div>
</div>
<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <div class="info">
        <h1 class="titreP">
            Breaking Bad
        </h1>

        <div class="information">
            <div class="informationInterne"><img id="ratingImg" src="../images/PG.png"></div>
            <div class="informationInterne">Drama</div>
            <div class="informationInterne">Season 5</div>
            <div class="informationInterne">2012-08-20</div>
        </div>

        <p class="description">
            A chemistry teacher diagnosed with a terminal lung cancer teams up with his former student to cook and sell
            crystal meth.
        </p>

        <a class="pull-right" id="buttonItune" href="https://itunes.apple.com/us/tv-season/breaking-bad-season-5/id533936970"/></a>
    </div>

</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="carouselAll">
    <div>
        <div class="TitrePage"> List of Episodes</div>
    </div>

    <div class="carouselMultiple">
        <div><a href="#"><img src='../images/Tv%20Shows/BBS05E01.jpg' title="E01 Live Free or Die"/></a>

            <div class="episodeTitle"> E01 Live Free or Die</div>
        </div>

        <div><a href="#"><img src='../images/Tv%20Shows/BBS05E02.jpg' title="E02 Madrigal"/></a>

            <div class="episodeTitle"> E02 Madrigal</div>
        </div>


        <div><a href="#"><img src='../images/Tv%20Shows/BBS05E03.jpg' title="E03 Hazard Pay"/></a>

            <div class="episodeTitle"> E03 Hazard Pay</div>
        </div>


        <div><a href="#"><img src='../images/Tv%20Shows/BBS05E04.png' title="E04 Fifty-One"/></a>

            <div class="episodeTitle"> E04 Fifty-One</div>
        </div>


        <div><a href="#"><img src='../images/Tv%20Shows/BBS05E05.jpg' title="E05 Dead Freight"/></a>

            <div class="episodeTitle"> E05 Dead Freight</div>
        </div>


        <div><a href="#"><img src='../images/Tv%20Shows/BBS05E06.jpg' title="E06 Buyout"/></a>

            <div class="episodeTitle"> E06 Buyout</div>
        </div>


        <div><a href="#"><img src='../images/Tv%20Shows/BBS05E07.jpg' title="E07 Say My Name"/></a>

            <div class="episodeTitle"> E07 Say My Name</div>
        </div>


        <div><a href="#"><img src='../images/Tv%20Shows/BBS05E08.jpg' title="E08 Gliding Over All"/></a>

            <div class="episodeTitle"> E08 Gliding Over All</div>
        </div>


        <div><a href="#"><img src='../images/Tv%20Shows/BBS05E09.jpg' title="E09 Blood Money"/></a>

            <div class="episodeTitle"> E09 Blood Money</div>
        </div>


        <div><a href="#"><img src='../images/Tv%20Shows/BBS05E10.png' title="E10 Buried"/></a>

            <div class="episodeTitle"> E10 Buried</div>
        </div>


        <div><a href="#"><img src='../images/Tv%20Shows/BBS05E11.png' title="E11 Confessions"/></a>

            <div class="episodeTitle"> E11 Confessions</div>
        </div>


        <div><a href="#"><img src='../images/Tv%20Shows/BBS05E12.jpeg' title="E12 Rabid Dog"/></a>

            <div class="episodeTitle"> E12 Rabid Dog</div>
        </div>


        <div><a href="#"><img src='../images/Tv%20Shows/BBS05E13.jpg' title="E13 To'hajiilee"/></a>

            <div class="episodeTitle"> E13 To'hajiilee</div>
        </div>


        <div><a href="#"><img src='../images/Tv%20Shows/BBS05E14.png' title="E14 Ozymandias"/></a>

            <div class="episodeTitle"> E14 Ozymandias</div>
        </div>


        <div><a href="#"><img src='../images/Tv%20Shows/BBS05E15.jpg' title="E15 Granite State"/></a>

            <div class="episodeTitle"> E15 Granite State</div>
        </div>


        <div><a href="#"><img src='../images/Tv%20Shows/BBS05E16.jpg' title="E16 Felina"/></a>

            <div class="episodeTitle"> E16 Felina</div>
        </div>


    </div>


</div>