<div>
    <h2 id="titleWatchlist">Watchlist</h2>

    <table id="listWatchlist" class="borderSepared tableWatchlist linkUnderline">
        <% var count = 0;
         _.each(watchlists, function(watchlist) {%>
        <tr class="bigestOpacity lineTableWatchlist">
            <% if(count % 2 == 0){ %>
            <td class="watchlistName lineTableWatchlist">
                <%= watchlist.name %>
            <td class="lineTableWatchlist"><button class="glyphicon glyphicon-remove pull-right deleteButton boutonDelete pull-right" data-id="<%= watchlist.id%>"></button>
            <a class="btn pull-right glyphicon glyphicon-pencil pencil" href="#/watchlist/<%=watchlist.id %>"/></td>
        </tr>
            <% }else{%>
        <tr class="lineTableWatchlist">
            <td class="watchlistName lineTableWatchlist">
                <%= watchlist.name %></td>
            <td class="lineTableWatchlist"><button class="glyphicon glyphicon-remove pull-right deleteButton boutonDelete pull-right" data-id="<%= watchlist.id%>"></button>
            <a class="btn pull-right glyphicon glyphicon-pencil pencil" href="#/watchlist/<%= watchlist.id %>"/></td>
            <% } %>
        </tr>
        <% count++}); %>
    </table>
    <a class="btn btn-default pull-right buttonNewWatchlist" href="#/newwatchlist" role="button">New Watchlist</a>
</div>