<div>
    <div id=errorBox style="display: none">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span id="errorMsg">Can't save watchlist</span>
    </div>
    <input id="titleWatchlist" editable="true" value="<%= watchlistModel ? watchlistModel.name : 'New Watchlist' %>"/>

    <div id="addMovieTitle">
        <label>Add movies</label>
    </div>
    <form class="form-inline">
        <div class="form-group">
            <input class="form-control" id="inputAddMovies">
        </div>
        <button type="submit" class="btn btn-default buttonSaveWatchlist">+</button>
    </form>

    <div id="moviesContainer">
        <%if(watchlistModel !== null){%>
            <% _.each(watchlistModel.movies, function(movie) {%>
                <div class="item">
                    <img class="imgWatchlist" src="<%= movie.artworkUrl100 %>"/>
                    <span class="caption"><a class="glyphicon glyphicon-remove deleteButton spaceDeleteButton" data-id="<%= movie.trackId%>">Delete</a></span>
                </div>
            <% }); %>
            <input id="watchlistId" type="hidden" name="id" value="<%= watchlistModel.id %>"/>
            <%}%>
    </div>

    <a class="btn btn-default pull-right buttonSaveWatchlist" role="button"><%= watchlistModel ? 'Save' : 'Create'
        %></a>
</div>